<%- include ../../partials/head %>

<% if (popular) {%>
  <h1 class="text-dark">Browse</h1>
  <form method="GET" action="/browse">
    <input class="form-control w-25 mx-auto" type="search" name="series">
  </form>
  <div class="container w-50 mx-auto">
  <% popular.forEach(item => { %>
    <a class="float-left" href="/browse/<%= item.id %>"><%= item.name %></a>
    <br/>
  <% }); %>
</div>
<% } else if (results) { %>
  <a href="/browse">Back to browse</a>
  <h1 class="text-dark"><%= results.name %></h1>
  <div class="container w-50 mx-auto">
    <h5 class="text-dark"><%= results.number_of_seasons %> seasons</h5>
    <a><%= results.overview %></a><br/>
    <% if (user) { %>
      <form method="POST" action="">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button>Add to my library</button>
      </form>
    <% } %>
  </div>
<% } else { %>
  Error lmao?
<% } %>
