<%- include ../../partials/head %>

<div class="container margin-top text-white">
  <% if (series) { %>
    <a href="/library" class="text-blue">Back to library</a>
    <h1 class="text-uppercase"><%= series.name %></h1>
    <a><%= series.overview %></a>

    <% for (let i = 0; i < series.number_of_seasons; i++) { %>
    <% let emptySeries = series.seasons[i].episode_count < 1 %>
    <% if (!emptySeries) { %>
      <h3 class="season-header unselect" tabindex="">Season <%= i + 1 %></h3>
      <div class="season-section">
        <form action="/library/<%= series.id %>" method="post">

          <!-- hidden inputs for backend -->
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="id" value="<%= series.id %>">
          <input type="hidden" name="season" value="<%= i %>">
          <input type="hidden" name="previous" value="<%= watched[i] %>">

          <ul class="list-unstyled">
            <li class="list-unstyled-item bg-dark text-light">

            <% for (let j = 1; j <= series.seasons[i].episode_count; j++) { %>
              <% let checked = watched[i].indexOf(j) > -1 ? "checked" : "" %>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" id="checkbox" class="custom-control-input" name="episodes" value="<%= j %>" <%= checked %> tabindex="">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-label unselect"><%= j %></span>
              </label>
            <% } %>

            </li>
          </ul>
          <button type="submit" class="btn btn-light mt-2" style="width: 100px;">Save</button>
        </form>
        <% } %>

      </div>
    <% } %>

  <% } else { %>
    what the heckler
  <% } %>
</div>
