<%- include ../partials/head %>

<% if (series) { %>
  <h3><%= series.name %></h3>
  <a><%= series.overview %></a>
  <h4>Amount of seasons: <%= series.number_of_seasons %></h4>

  <% for (let i = 1; i <= series.number_of_seasons; i++) { %>

  	<div class="season-section">
      <a>Season <%= series.seasons[i].season_number %> with </a>
      <a><%= series.seasons[i].episode_count %> episodes</a>

      <div class="episode-section">
        <% for (let j = 1; j <= series.seasons[i].episode_count; j++) { %>
          <a>Episode <%= j %></a>
          <input type="checkbox"><br/>
        <% } %>
        <input type="submit" value="Save"><br/>
      </div>
    </div>
  <% } %>
<% } %>